<div style="position:fixed;min-height:100%;min-width:100%;background-size: 100% 100%;background-image: url('../../../content/img/background.png')">
    <div class="header bg-gradient-primary py-5 py-lg-8">
        <div class="container">
            <div class="header-body text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <!--                        <h1 class="text-black-50">Bienvenidos al Portal de Facturación Electrónica.</h1>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0" disabled="true" style="position: relative;top: 20%">
                <div class="card-header bg-transparent pb-3">
                    <div class="text-dark text-center mt-2 mb-1">
                        <div class="row">
                            <div class="col-lg-2">
                                <button mat-mini-fab color="primary" routerLink="/login">
                                    <mat-icon>arrow_back</mat-icon>
                                </button>
                            </div>
                            <div class="col-lg-10">
                                <h3 style="position: relative;top: 5px;right: 9%">Cambio de contraseña</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-dark mb-4" *ngIf="!keyMissing">
                        <small>
                            Introduzca las contraseñas.
                        </small>
                    </div>
                    <div class="alert alert-danger" *ngIf="keyMissing">
                        <strong>{{message}}</strong>
                    </div>

                    <div class="alert alert-danger" *ngIf="error">
                        <p>{{message}}</p>
                    </div>

                    <p class="alert alert-success" *ngIf="success">
                        <span><strong>Su contraseña se ha cambiado.</strong> Por favor </span>
                        <a class="alert-link" routerLink="/login">Inicie Sesión</a>.
                    </p>

                    <div class="alert alert-danger" *ngIf="doNotMatch">
                        La contraseña y la confirmación de la contraseña no coinciden!
                    </div>
                    <div *ngIf="!keyMissing">
                        <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
                            <div class="form-group" style="margin-bottom: 0">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <mat-icon style="position: relative;top: 2px">vpn_key</mat-icon>
                                        </span>
                                        </div>
                                        <input type="password" #newPassword class="form-control" id="password" name="password" placeholder="Nueva contraseña" formControlName="newPassword">
                                    </div>
                                </div>
                                <div style="padding-left: 50px">
                                    <password-lenght [passwordToCheck]="passwordForm.get('newPassword').value"></password-lenght>
                                </div>
                                <div *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)" style="padding-left: 50px">
                                    <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.required">
                                        La contraseña es requerida.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.minlength">
                                        Su contraseña debe tener al menos 5 caracteres.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.maxlength">
                                        Su contraseña no debe ser mayor a 50 caracteres.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <mat-icon style="position: relative;top: 2px">vpn_key</mat-icon>
                                        </span>
                                        </div>
                                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmar la nueva contraseña" formControlName="confirmPassword">
                                    </div>
                                </div>
                                <div *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)" style="padding-left: 50px">
                                    <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.required">
                                        La confirmación de la contraseña es requerida.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.minlength">
                                        La confirmación de la contraseña debe tener al menos 5 caracteres.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.maxlength">
                                        La confirmación de la contraseña no debe ser mayor a 50 caracteres.
                                    </small>
                                </div>
                            </div>
                            <div class="text-center table-actions-theme">
                                <button mat-raised-button type="submit" color="primary" [disabled]="passwordForm.invalid">
                                    <mat-icon>lock_open</mat-icon>
                                    Cambiar Contraseña
                                    <mat-icon>keyboard_arrow_right</mat-icon>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>