<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cliente">
            <h2><span>Cliente</span> {{cliente.rucClient}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Ruc</span></dt>
                <dd>
                    <span>{{cliente.rucClient}}</span>
                </dd>
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{cliente.nombreClient}}</span>
                </dd>
                <dt><span>Ruta Imagen</span></dt>
                <dd>
                    <span>{{cliente.rutaImagen}}</span>
                </dd>
                <dt><span>Direccion</span></dt>
                <dd>
                    <span>{{cliente.direccionClient}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{cliente.email}}</span>
                </dd>
                <dt><span>Estado</span></dt>
                <dd>
                    <span>{{cliente.estadoCliente}}</span>
                </dd>
            </dl>

            <button type="submit" mat-raised-button color="primary"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cliente', cliente.rucClient, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
