<div class="wrapper">
    <div class="sidebar" data-color="azure" data-background-color="white" *ngIf="auth.isAuthenticated()">
        <jhi-sidebar></jhi-sidebar>
        <div class="sidebar-background"></div>
    </div>
    <div class="main-panel" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
        <perfect-scrollbar [scrollIndicators]="true" [config]="config">
            <div>
                <router-outlet name="navbar"></router-outlet>
            </div>
            <div class="container-fluid">
                <div class="card jh-card" style="min-height: 700px">
                    <router-outlet #outlet="outlet"></router-outlet>
                    <router-outlet name="popup"></router-outlet>
                </div>
                <jhi-footer></jhi-footer>
            </div>
        </perfect-scrollbar>
    </div>
</div>
<!-- Buy-Modal-angular -->
